// Buttons variables

$button-stroke: inset 0 0 0 1px;

// Buttons

.button,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  appearance: none;
  background-color: $color-primary;
  border: 0;
  border-radius: 0;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: 14px;
  font-weight: $font-medium;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: {
    top: .5em;
    bottom: .5em;
    right: .5em;
  }
  outline: none;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  &.wide{
    padding-left: 40px;
    padding-right: 40px;
  }

  &.small{
    font-size: 14px;
    padding: 12px 20px;
    &.wide{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &.large{
    font-size: 16px;
    padding: 18px 24px;
    &.wide{
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  &:hover,
  &.button-hover {
    background-color: $color-primary-lighter;
    border-bottom: 0;
    color: $color-white;
    text-decoration: none;
  }

  &:focus,
  &.button-focus {
    background-color: $color-primary-lighter;
    box-shadow: $button-stroke $color-primary-darker, $focus-shadow;
  }

  &:active,
  &.button-active {
    background-color: $color-primary-lightest;
  }

  @media (min-width: $small-screen) {
    width: auto;
  }

  /*  Primary Ghost Button  */
  &.button-primary-alt {
    background-color: $color-white;
    color: $color-primary;
    box-shadow: $button-stroke $color-primary;

    &:hover,
    &.button-hover {
      background-color: $color-primary-fade;
    }

    &:active,
    &.button-active {
      background-color: $color-white;
      color: $color-primary;
    }
    &:focus,
    &.button-focus {
      box-shadow: $button-stroke $color-primary, $focus-shadow;
    }
  }

  /*  Primary Ghost - Dark Button  */
  &.button-primary-alt-dark {
    background-color: transparent;
    color: $color-white;
    box-shadow: $button-stroke $color-white;

    &:hover,
    &.button-hover {
      background-color: $color-white-fade;
      text-shadow: 0px 0px 20px $color-primary-darker, 0px 1px 0px $color-primary-darker;
    }

    &:active,
    &.button-active {
      background-color: transparent;
    }
    &:focus,
    &.button-focus {
      box-shadow: $button-stroke $color-white, $focus-glow;
    }
  }

  /*  Secondary Button  */
  &.button-secondary {
    background-color: $color-secondary;

    &:hover,
    &.button-secondary-hover {
      background-color: #00758A; // custom for accessibility
    }

    &:active,
    &.button-secondary-active {
      background-color: $color-secondary-lightest;
    }
    &:focus,
    &.button-secondary-focus {
      box-shadow: $button-stroke $color-secondary-darker, $focus-shadow;
    }
  }

  /*  Secondary Ghost Button  */
  &.button-secondary-alt {
    background-color: $color-white;
    color: $color-secondary-darker;
    box-shadow: $button-stroke $color-secondary;

    &:hover,
    &.button-secondary-hover {
      background-color: $color-secondary-fade;
    }

    &:active,
    &.button-secondary-active {
      background-color: $color-white;
    }

    &:focus,
    &.button-secondary-focus {
      box-shadow: $button-stroke $color-secondary, $focus-shadow;
    }
  }

  /*  Gray Button  */
  &.usa-button-gray {
    background-color: $color-gray;

    &:hover,
    &.usa-button-hover {
      background-color: $color-gray-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-base;
    }
  }
}

button:disabled {
  background-color: $color-gray-lighter;
  color: $color-gray-dark;
  cursor: not-allowed;

  &:hover,
  &.usa-button-hover,
  &:active,
  &.usa-button-active,
  &:focus  {
    background-color: $color-gray-lighter;
    border: 0;
    box-shadow: none;
    color: $color-gray-dark;
  }
}

.usa-button-unstyled {
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  text-align: left;

  &:focus,
  &:hover {
    box-shadow: initial;
  }
}
